extends layout

block content
  section.section-wrapper

    div.brand-create
      h1= title
      a(href='brand/create')
        button.color-change-button Create New Brand

    section.brand-list
      ul
        each brand in brand_list
          li
            a(href=`/brand/${brand._id}`)
              span #{brand.name}
        else
          li There are no brands.