extends layout

block content

    h1=title

    ul(class='category-list')
      each category in category_list
        li
          a(href=`/category/${category._id}`) #{category.name}
      else
        li There are no categories.

    a(href='category/create') Create new category