extends layout

block content
  h1=title

  ul(class='device-list')
    each category in category_detail
      li
        a(href=``) #{category.name}
          img(class='devices' src=`${category.img_link}`)

    else
      li There are no devices.