extends layout

block content
  section.section-wrapper

    div.category-create
      h1= title
      a(href='category/create')
        button.color-change-button Create New Category

    section.category-list
      ul
        each category in category_list
          li
            a(href=`/category/${category._id}`)
              span #{category.name}
        else
          li There are no categories.