extends layout
 
block content
  section.device-wrapper

    div.device-detail
      h1= title
      a(href='device/create')
        button.color-change-button Create New Device

    section.device-list
      each device in device_list
          a(href=`/device/${device._id}` class='device')
            img(class='device-img' src=`${device.img_link}`)
            span #{device.name}
      else
        span There are no devices.