extends layout

block content
  section.index-list-wrapper
    a(href='/devices' class='index-link')
      img(src='https://static.swappa.com/static/images/categories/retro/category_iphones_600x600.png')
      span Devices
    a(href='/categories' class='index-link')
      img(src='https://www.svgrepo.com/show/33529/phone-tablet-and-laptop.svg')
      span Categories
    a(href='/brands' class='index-link')
      img(src='https://miro.medium.com/max/2000/1*ambW6_d_zweYvV5DdyblxA.png')
      span Brands