/* device list */

.device-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.device-detail {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
}

.device-list {
    display: flex;
    justify-content: flex-start;
    flex-flow: row wrap;
    width: 90%;
}

.device {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 200px;
    height: 200px;
}

.device:hover{
    transform: scale(1.2);
    transition-duration: 0.5s;
}

.device img {
    width: 150px;
    height: 150px;
}

/* device detail page */

.device-info {
    
}